<div class="container">
  <div class="login">
    <h1>Bem-vindo de volta!</h1>
    <p>Se você já tem uma conta, aperte em ENTRAR!</p>
    <button routerLink="login" class="create-button">Entrar</button>
  </div>

  <div class="register">
    <h1>Criar uma conta</h1>
    <input type="text" placeholder="Nome" />
    <input type="email" placeholder="E-mail" />
    <input type="password" placeholder="Senha" />
    <input type="cnes" placeholder="CNES"/>
    <button routerLink='contacriada' class="create-button">Criar conta</button>
  </div>
</div>

<div class="imgs">
  <img src="../assets/Doctors-cuate.svg" alt="" />
</div>
